<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Rewrite any /storage requests to the proxy as a backup
  RewriteRule ^storage/(.*)$ p.php?img=$1 [L,QSA]

  # Serve existing files directly (.js, .css, .php, .png, etc)
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule . - [L]
  
  # Redirect any other path to index.html for Flutter SPA
  RewriteRule . index.html [L]
</IfModule>

<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
</IfModule>
